<!DOCTYPE html>
<html>
<head>
<title>Document</title>
</head>
<body>

<h1 style="background-color:lavender;">Hey, {{name}}, let's have some html fun!</h1>

<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ficon2.cleanpng.com%2F20180322%2Frpe%2Fkisspng-rubber-duck-clip-art-duck-5ab3e4a1458bf6.6060173915217389132849.jpg&imgrefurl=https%3A%2F%2Fwww.cleanpng.com%2Ffree%2Frubber-duck.html&tbnid=jECF0wASG-sTaM&vet=12ahUKEwjz8OWOmfLmAhUERawKHSY9C5MQMygCegUIARDuAQ..i&docid=j-NCktRy7en16M&w=260&h=300&q=rubber%20duck%20png%20transparent&ved=2ahUKEwjz8OWOmfLmAhUERawKHSY9C5MQMygCegUIARDuAQ" alt="Rubber Duck">

<p>Today is {{the_date}}.</p>>
<p>Would <strong>you</strong> like to learn some html?.</p>

<a href="https://www.w3schools.com">Click here to learn more!</a>

</body>
</html>