<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color:lightskyblue;">Hello, Bayes!</h1>
    <p>This page will generate some random numbers for you.</p>
    <h2>Here are those random numbers you requested:</h2>
    {% for roll in rolls %}
        <p>{{ roll }}</p>
    {% endfor %}
</body>
</html>