<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color:lightskyblue;">Please enter an your text message:</h1>

    <form method="POST" action="/text-result">
        <label for="text">
            Your text:
            <input id="text" name="text" type="text" />
        </label>
        <br />
        <input type="submit">
    </form>

</body>
</html>